/* Estilo general HOME POR SEPARAR CSS EN CADA COMPONENTE QUE CORRESPONDA*/
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.27);
  }
  
  video {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .custom-border {
    border: 5px solid #ffffff;
    border-radius: 15px;
    padding: 30px;
  }
  
  .custom-border img {
    max-width: 450px;
  }
  
  .custom-border h4 {
    line-height: 1.4;
  }
  
  .custom-border .btn-primary {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .banner {
    position: relative;
    z-index: 1;
  }
  