body{
    background-color: #f0f0f0;
}
.container-card{
    padding: 2rem;
}

.card-container{
    background-color: white;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}

.custom-card {
    border: 10px solid rgba(120, 189, 149, 0.5);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    position: relative;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .card-container{
        max-width: 90%;
        padding: 40px 20px;
    }
    .custom-card{
        max-width: 400px;
        }

}

@media (max-width: 768px) {
    .card-container{
        max-width: 100%;
        padding: 40px 10px;
    }
    .custom-card{
        max-width: 100%;
    
    }
}
  
@media (max-width: 576px) {
    .card-container{
        max-width: 100%;
        padding: 20px;
    }
    .custom-card{
       border-width: 5px;
    }
}

