/* Variables. Se copiaron directo de bootstrap... ver como compartir esto con sass (?) */
:root {
    --primary: #78bd95;
    --primary-dark: #5eb081;
    --gray-dark: #343a40;
    --gray-light: #6e6e6e;
    --light: #f1f1f1;
  }
  
  /* -------------------------- */
  /*        navbar-parent       */
  /* -------------------------- */
  .width-90 {
    max-width: 90vw;
    width: 90vw;
    margin: auto;
  }
  
  header.navbar {
    transition: all 0.5s;
  }
  
  .navbar-scrolled {
    background-color: var(--light);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  }
  /*        end navbar-parent       */
  
  
  /* ------------- */
  /*    toggler    */
  /* ------------- */
  .navbar-toggler, .navbar-toggler:focus-visible, .navbar-toggler:focus{
    border: 0;
  }
  
  .navbar-toggler-icon {
    max-width: 256px;
    max-height: 256px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB4PSIwIiB5PSIwIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+PHBhdGggZD0iTTQwLjQyMSAyOTYuNDIxQzE4LjEzMiAyOTYuNDIxIDAgMjc4LjI4OSAwIDI1NnMxOC4xMzItNDAuNDIxIDQwLjQyMS00MC40MjFoNDMxLjE1OEM0OTMuODY4IDIxNS41NzkgNTEyIDIzMy43MTEgNTEyIDI1NnMtMTguMTMyIDQwLjQyMS00MC40MjEgNDAuNDIxek00MC40MjEgMTA3Ljc4OUMxOC4xMzIgMTA3Ljc4OSAwIDg5LjY1OCAwIDY3LjM2OHMxOC4xMzItNDAuNDIxIDQwLjQyMS00MC40MjFoNDMxLjE1OGMyMi4yODkgMCA0MC40MjEgMTguMTMyIDQwLjQyMSA0MC40MjFzLTE4LjEzMiA0MC40MjEtNDAuNDIxIDQwLjQyMXpNNDAuNDIxIDQ4NS4wNTNDMTguMTMyIDQ4NS4wNTMgMCA0NjYuOTIxIDAgNDQ0LjYzMnMxOC4xMzItNDAuNDIxIDQwLjQyMS00MC40MjFoNDMxLjE1OGMyMi4yODkgMCA0MC40MjEgMTguMTMyIDQwLjQyMSA0MC40MjFzLTE4LjEzMiA0MC40MjEtNDAuNDIxIDQwLjQyMXoiIGZpbGw9IiNmZmZmZmYiIG9wYWNpdHk9IjEiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSIiPjwvcGF0aD48L2c+PC9zdmc+);
  }
  
  .black-navbar-toggler-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB4PSIwIiB5PSIwIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+PHBhdGggZD0iTTQwLjQyMSAyOTYuNDIxQzE4LjEzMiAyOTYuNDIxIDAgMjc4LjI4OSAwIDI1NnMxOC4xMzItNDAuNDIxIDQwLjQyMS00MC40MjFoNDMxLjE1OEM0OTMuODY4IDIxNS41NzkgNTEyIDIzMy43MTEgNTEyIDI1NnMtMTguMTMyIDQwLjQyMS00MC40MjEgNDAuNDIxek00MC40MjEgMTA3Ljc4OUMxOC4xMzIgMTA3Ljc4OSAwIDg5LjY1OCAwIDY3LjM2OHMxOC4xMzItNDAuNDIxIDQwLjQyMS00MC40MjFoNDMxLjE1OGMyMi4yODkgMCA0MC40MjEgMTguMTMyIDQwLjQyMSA0MC40MjFzLTE4LjEzMiA0MC40MjEtNDAuNDIxIDQwLjQyMXpNNDAuNDIxIDQ4NS4wNTNDMTguMTMyIDQ4NS4wNTMgMCA0NjYuOTIxIDAgNDQ0LjYzMnMxOC4xMzItNDAuNDIxIDQwLjQyMS00MC40MjFoNDMxLjE1OGMyMi4yODkgMCA0MC40MjEgMTguMTMyIDQwLjQyMSA0MC40MjFzLTE4LjEzMiA0MC40MjEtNDAuNDIxIDQwLjQyMXoiIGZpbGw9IiMzNDNhNDAiIG9wYWNpdHk9IjEiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSIiPjwvcGF0aD48L2c+PC9zdmc+);
  }
  
  @media (max-width: 380px){
    .d-xxs-block {
      display: none !important;
    }
  }
  
  @media (min-width: 992px){
    .dropdown:hover > .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
  /*    end toggler    */
  
  /* ------------------------------------ */
  /* left-navbar, which is toggler-expand */
  /* ------------------------------------ */
  .nav-link,
  .navbar {
    padding: 0.5rem 1rem;
  }
  
  .left-nav .nav-item {
    border-bottom: 3px solid var(--primary);
  }
  
  .left-nav .nav-item .nav-link {
    color: black;
  
    &:hover {
      background-color: var(--primary);
    }
  }
  
  .left-nav.navbar-dark .nav-item .nav-link {
    color: white;
  }
  /*  end left-navbar  */
  
  
  /* ------------- */
  /*     logo      */
  /* ------------- */
  .logo-1,
  .logo-2 {
    max-width: 190px;
    width: 100%;
    height: auto;
  }
  
  
  /* ---------------------------------- */
  /*    buttons (Reserva y Contacto)    */
  /* ---------------------------------- */
  #navbar-btn-contact.btn-outline-light,
  #navbar-btn-contact.btn-outline-grey {
    border: 2px solid;
  }
  
  #navbar-btn-contact.btn-outline-grey {
    color: var(--gray-dark);
    border-color: var(--gray-dark);
  }
  
  #navbar-btn-contact.btn-outline-grey:hover,
  #navbar-btn-contact.btn-outline-light:hover {
    color: white;
    background-color: var(--gray-light);
    border: 2px solid var(--gray-dark);
  }
  
  #navbar-btn-reserve {
    color: white;
    border: 3px solid var(--primary-dark);
    &:hover {
      color: var(--gray-dark);
    }
  }
  
  /* ------------- */
  /*    bag-icon   */
  /* ------------- */
  .bag-icon {
    display: inline-block;
  }
  
  .bag-icon strong:after {
    -webkit-transition: height 0.1s ease-out;
    -o-transition: height 0.1s ease-out;
    transition: height 0.1s ease-out;
    bottom: 100%;
    margin-bottom: 0;
    margin-left: -7px;
    height: 8px;
    width: 14px;
    left: 50%;
    content: " ";
    position: absolute;
    pointer-events: none;
    border: 2px solid var(--primary);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom: 0;
  }
  
  .bag-icon:hover strong {
    background-color: #9fd1b4;
    color: #fff;
  }
  
  .bag-icon strong {
    border-radius: 0;
    font-weight: 700;
    margin: 0.3em 0;
    border: 2px solid var(--primary);
    color: var(--primary);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 2.2em;
    height: 2.2em;
    font-size: 1em;
    line-height: 1.9em;
  }
  
  .current-dropdown .bag-icon strong:after,
  .bag-icon:hover strong:after {
    height: 12px;
  }