a.to-checkout {
  max-width: 250px;
  min-height: 45px;
  cursor: pointer;
  color: white;
  padding-inline: 2rem;
  text-decoration: none;
  border: 3px solid var(--primary-dark);
}

a.to-checkout.text-white{
  color: white !important;

} 

a.to-checkout:hover {
  color: var(--gray-dark);
  background-color: var(--bs-btn-hover-bg);
  border: 3px solid var(--primary-dark);
}

a.to-checkout.disabled {
  border: 2px solid var(--bs-gray-600);
  background-color: var(--bs-gray-500);
  color: var(--gray-dark);
}

a.to-checkout strong {
  letter-spacing: 1px;
}

.cabin-detail-resume{
  display: flex;
  flex-direction: row;
}
